<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meme Generator (c)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Meme Generator", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                <li>@Html.ActionLink("New Post", "Create", "Posts")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<section id="home-sec">
    <div class="overlay text-center">
        <h1>BEST MEMES ARE HERE</h1>
        <hr class="hr-set"/>

        <p>Provides variety of interesting templates</p>
    </div>
</section>
@*Try to list the post titles and select one of them*@
<section id="search-domain">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <input type="text" class="form-control input-cls"/>

            </div>
            <div class="col-md-4">
                <input type="button" class="btn btn-info btn-lg btn-set" value="SEARCH DOMAIN"/>
            </div>
        </div>
    </div>
</section>
<section id="services-sec">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-4">
                <i class="fa fa-database fa-5x icon-custom-1 color-1"></i>
                <h3>Create your own meme</h3>
                <p>
                    Use our templates and have a fun !
                </p>

            </div>
            <div class="col-md-4">
                <i class="fa fa-globe fa-5x icon-custom-1 color-1"></i>
                <h3>Hot Memes Right Now</h3>
                <p>
                    Top Memes
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-desktop fa-5x icon-custom-1 color-1"></i>
                <h3>Contact us</h3>
                <p>
                    Write us for if you want to propose some good ideas connected with our activity.
                </p>
            </div>
        </div>
    </div>
</section>
<!--SERVICES SECTION END-->
@*<section id="clients-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="assets/img/clients.png" alt="" class="img-rounded img-responsive" />
                </div>


            </div>
        </div>
    </section>*@
<!--CLIENTS SECTION END-->
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<div id="testimonial-sec">


    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">

                                    <h4><i class="fa fa-quote-left"></i> Rostislav Kolev <i class="fa fa-quote-right"></i></h4>
                                    <div class="user-img pull-right">
                                        <img src="/img/Rostislav-kolega.png" alt="" class="img-u image-responsive"/>
                                    </div>
                                    <h5 class="pull-right"><strong class="c-black">PlaceHolder Team</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                    <h4> <i class="fa fa-quote-left"></i> Todor Vasilev <i class="fa fa-quote-right"></i></h4>
                                    <div class="user-img pull-right">
                                        <img src="/img/Todor-kolega.png" alt="" class="img-u image-responsive"/>
                                    </div>
                                    <h5 class="pull-right"><strong class="c-black">PlaceHolder Team</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                    <h4><i class="fa fa-quote-left"></i>Nikolay Borimechkov<i class="fa fa-quote-right"></i></h4>
                                    <div class="user-img pull-right">
                                        <img src="/img/Niki-kolega.png" alt="" class="img-u image-responsive"/>
                                    </div>
                                    <h5 class="pull-right"><strong class="c-black">PlaceHolder Team</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<hr />
<footer>
    <div class="footer">&copy; @DateTime.Now.Year - Meme Generator </div>
</footer>
   
</html>
