@model MemeGen.Models.Meme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Meme</h4>
<hr />
<div class="detailed-meme">
    
    @if (Model.Id > 1)
    {
        <a href="@Url.Action("Details", "Memes", new
                            { id = (Model.Id - 1) })">BACK</a>
    }

    @if (Model.Id < 5)
    {
        //TODO: Need max lenght Memes in the if construction
        <a href="@Url.Action("Details", "Memes", new
                            { id = (Model.Id + 1) })">UP</a>
    }

    <div>
        <img src="@Url.Content(String.Format("~/Images/{0}", Model.Path))" width="300" height="300" />
    </div>

    <dl class="dl-horizontal" >

        <dt>
            Author:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName) @*Doesn't work*@
        </dd>

        <dt>
            Created on:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Top Text:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopText)
        </dd>

        <dt>
            Bottom Text:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
