@{
    ViewBag.Title = "Home Page";
}

@using MY_DEMO_BLOG.Controllers
@model IEnumerable<MY_DEMO_BLOG.Models.Post>

<section class="sidebar">
    @foreach (var post in Model.Take(5))
    {
        <article class="post col-md-4">

            <h2>
                <a href="/Posts/Details/@post.Id">@MY_DEMO_BLOG.Classes.Utils.CutText(post.Title, 15)</a>
            </h2>
            <div>
                Created on <i>@post.Date</i>
                @if (@post.Author != null)
                {
                    @:by <i>@post.Author.FullName (@post.Author.UserName) </i>
                }
            </div>

        </article>
    }
</section>

<section class="row">
    @* from DIV to Section*@
    @foreach (var post in Model.Take(3))
    {
        <article class="post col-md-4">
            @*from DIV to ARTICLE // it fills 4 columns*@
            <h2><a href="/Posts/Details/@post.Id">@MY_DEMO_BLOG.Classes.Utils.CutText(post.Title, 20)</a>
            </h2>
            <div>
                Created on <i>@post.Date</i>
                @if (@post.Author != null)
                {
                    @:by <i>@post.Author.FullName (@post.Author.UserName) </i>
                }


            </div>
            <p>@MY_DEMO_BLOG.Classes.Utils.CutText(post.Body) </p>
        </article>
    }
</section>


