@using HangoverPartII.ViewModels
@model HangoverPartII.ViewModels.CocktailViewModel
@{
    ViewBag.Title = "Details";
}

<div class="previousButton col-md-2">
    @if (Model.Cocktail.Id > Model.FirstCocktailId.Id)
    {
        <ul class="pager">
            <li>
                <a class="previousButtonDesign" href="@Url.Action("Details", "Cocktails", new
                                                 { id = (Model.Cocktail.Id - 1) })"><< Previous</a>
            </li>
        </ul>
    }
</div>

<div class="col-md-8">
    <div>
        <img src="@Url.Content(String.Format("~/Images/{0}", Model.Cocktail.Image))" width="300" height="300" />
    </div>
    
    <dl class="dl-horizontal">
    
        <dt>
            Author:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Author.UserName) @*Doesn't work*@
        </dd>
    
        <dt>
            Created on:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Date)
        </dd>
    
        <dt>
            Title:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Title)
        </dd>
    
        <dt>
            Body:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Body)
        </dd>
    
    </dl>
</div>

<div class="actionButton col-md-2">
    @if (Model.Cocktail.Id < Model.LastCocktailId.Id)
    {
    <ul class="pager">
        <li><a class="NextButtonDesign" href="@Url.Action("Details", "Cocktails", new
                                         { id = (Model.Cocktail.Id + 1) })">Next >></a></li>
    </ul>
    }
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @id = "comment",  @style    = "display:none;", @rows = 3 })
                <input type="button" id="clickMeId" class="btn btn-primary" value="Add Comment" onclick="show      ('comment'); show('submitComment'); hide('clickMeId')" alt="click me">
                <input type="submit" id="submitComment" value="Create" class="btn btn-default" style="display:none" />   
        }
    </div>
</div>

<script>
function show(toBlock) {
        setDisplay(toBlock, 'block');
    }
function hide(toNone) {
        setDisplay(toNone, 'none');
    }
function setDisplay(target, str) {
        document.getElementById(target).style.display = str;
    }
</script>
@*<a type="button" class="btn btn-primary" href="@Url.Action("Create", "Comments", new
                                         { id = (Model.Cocktail.Id + 1) })" >Add Comment</a>*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cocktail.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



