@using HangoverPartII.ViewModels
@model HangoverPartII.ViewModels.CocktailViewModel
@{
    ViewBag.Title = "Details";
}

<div class="previousButton col-md-2">
    @if (Model.Cocktail.Id > Model.FirstCocktailId)
    {
        <ul class="pager">
            <li>
                <a class="previousButtonDesign" href="@Url.Action("Details", "Cocktails", new
                                                 { id = Model.PreviousCocktailId })"><< Previous</a>
            </li>
        </ul>
    }
</div>

<div class="back-container col-md-8">

    <div class="cocktail-picture">
        <img src="@Url.Content(String.Format("~/Images/{0}", Model.Cocktail.Image))" width="300" height="300" />
    </div>


    <div class="cocktail-details">
        <div>
            <strong>Author: </strong>@Html.DisplayFor(model => model.Cocktail.Author.UserName)
        </div>
        <br />
        <div>
            <strong>Created on: </strong>@Html.DisplayFor(model => model.Cocktail.Date)
        </div>
        <br />

        <div>
            <strong>Body: </strong>@Html.DisplayFor(model => model.Cocktail.Body)
        </div>
        <div class="button-group">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Cocktail.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Cocktail.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="actionButton col-md-2">
    @if (Model.Cocktail.Id < Model.LastCocktailId)
    {
        <ul class="pager">
            <li>
                <a class="NextButtonDesign" href="@Url.Action("Details", "Cocktails",
                                                      new {id = Model.NextCocktailId})">Next >></a>
            </li>
        </ul>
    }
</div>
<br/>

<div class="form-group">
    <div class="comment-container col-md-offset-2 col-md-8">
            @foreach (var comment in Model.Comments)
            {
                <div class="well well-sm col-md-6">
                    <b>@comment.Body</b>
                    <p>
                        <small><i>@comment.UserName</i></small>
                        <small><i>@comment.Date</i></small>
                    </p>
                    @Html.ActionLink("Edit", "Edit", new { id = comment.Id, controller = "Comments" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = comment.Id, controller = "Comments" })                    
                </div>
            }
    </div>
</div>

<div class="form-group">
    <div class="comment-container col-md-offset-2 col-md-8">       
        @Html.Action("Create", "Comments")
    </div>
</div>



