@using HangoverPartII.ViewModels
@model HangoverPartII.ViewModels.CocktailViewModel
@{
    ViewBag.Title = "Details";
}

<div class="previousButton col-md-2">
    @if (Model.Cocktail.Id > Model.FirstCocktailId.Id)
    {
        <ul class="pager">
            <li>
                <a class="previousButtonDesign" href="@Url.Action("Details", "Cocktails", new
                                                 { id = (Model.Cocktail.Id - 1) })"><< Previous</a>
            </li>
        </ul>
    }
</div>

<div class="col-md-8">
    <div>
        <img src="@Url.Content(String.Format("~/Images/{0}", Model.Cocktail.Image))" width="300" height="300" />
    </div>
    
    <dl class="dl-horizontal">
    
        <dt>
            Author:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Author.UserName) @*Doesn't work*@
        </dd>
    
        <dt>
            Created on:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Date)
        </dd>
    
        <dt>
            Title:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Title)
        </dd>
    
        <dt>
            Body:
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Cocktail.Body)
        </dd>
    
    </dl>
</div>

<div class="actionButton col-md-2">
    @if (Model.Cocktail.Id < Model.LastCocktailId.Id)
    {
    <ul class="pager">
        <li><a class="NextButtonDesign" href="@Url.Action("Details", "Cocktails", new
                                         { id = (Model.Cocktail.Id + 1) })">Next >></a></li>
    </ul>
    }
</div>

<button type="button" class="btn btn-primary">Add Comment</button>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cocktail.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



