@using HangoverPartII.ViewModels
@model HangoverPartII.ViewModels.CocktailViewModel
@{
    ViewBag.Title = "Details";
}

<div class="previousButton col-md-2">
    @if (Model.Cocktail.Id > Model.FirstCocktailId)
    {
        <ul class="pager">
            <li>
                <a class="previousButtonDesign" href="@Url.Action("Details", "Cocktails", new
                                                 { id = Model.PreviousCocktailId })"><< Previous</a>
            </li>
        </ul>
    }
</div>

<div class="col-md-8">

    <div class="cocktail-picture">
        <img src="@Url.Content(String.Format("~/Images/{0}", Model.Cocktail.Image))" width="300" height="300" />
    </div>
    

    <div class="cocktail-details">
        <div>
            <strong>Author: </strong>@Html.DisplayFor(model => model.Cocktail.Author.UserName) @*Doesn't work*@
        </div>
        <br />
        <div>
            <strong>Created on: </strong>@Html.DisplayFor(model => model.Cocktail.Date)
        </div>
        <br />
            
        <div>
            <strong>Body: </strong>@Html.DisplayFor(model => model.Cocktail.Body)            
        </div>                
    </div>
</div>

<div class="actionButton col-md-2">
    @if (Model.Cocktail.Id < Model.LastCocktailId)
    {
        <ul class="pager">
            <li><a class="NextButtonDesign" href="@Url.Action("Details", "Cocktails", 
                                                 new { id = Model.NextCocktailId  })">Next >></a></li>
        </ul>
    }
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @id = "comment",  @style = "display:none;", @rows = 7 })

                @Html.ActionLink("Create", "Create", "Comments");                                 
                <br />
                <br />
                <div class="button-group">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Cocktail.Id }, new { @class = "btn btn-primary" })                    
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Cocktail.Id }, new { @class = "btn btn-primary" })
                </div>
        }
        
            
    </div>
</div>

<script>
function show(toBlock) {
                setDisplay(toBlock, 'block');
            }
            function hide(toNone) {
                setDisplay(toNone, 'none');
            }
            function setDisplay(target, str) {
                document.getElementById(target).style.display = str;
            }
</script>




