
@model IEnumerable<HangoverPartII.Models.Cocktail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />

@foreach (var cocktail in Model)
{
    <div class="col-md-3">
        <b>@Html.DisplayFor(modelItem => cocktail.Title)</b>
        <a href="@Url.Action("Details", "Cocktails", new { id = cocktail.Id })" class="col-md-3">
            <img src="@Url.Content(String.Format("~/Images/{0}", cocktail.Image))"
                 width="200" height="200" />
        </a>
        @Html.DisplayFor(modelItem => cocktail.NetLikeCount) Likes <br/>
        @Html.ActionLink("Like","Like", new { id = cocktail.Id})
    </div>
}
